/* common */
* {
  margin: 0;
  padding: 0;
}
.container {
  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-family: 'PT Serif', Serif;
}
a:hover {
  text-decoration: underline;
}
li {
  list-style: none;
}
/* common */

/* start of header */
header .s_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
header .smart .logo {
  width: 170px;
  display: block;
}
header .smart .logo img {
  width: 100%;
  display: block;
}
header button {
  background-color: #fff;
  border: none;
  border-style: none;
  font-size: 30px;
  cursor: pointer;
}
/* end of header */

/* start of main_visual */
.main_visual {
  background-image: url(../images/mmv.jpg);
  width: 100%;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 94px 0px;
  background-position: center;
  background-color: #00000073;
  background-blend-mode: overlay;
}
.main_visual h1 {
  font-size: 30px;
  font-family: 'PT Serif', Serif;
  word-spacing: 3px;
}
.main_visual p {
  font-size: 20px;
  font-family: 'lato', sans-serif;
  padding: 30px 0px 30px 0px;
  word-spacing: 3px;
}
.main_visual a {
  background-color: #f6bb4a;
  color: #fff;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
}
.main_visual a:hover {
  background-color: #0b3574;
  color: #f6bb4a;
}
.dots li {
  border-radius: 60%;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid white;
  background-color: white;
  width: 10px;
  height: 10px;
}
.main_visual {
  position: relative;
}
.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.dots .active {
  background: orange;
}
.dots li:last-child {
  margin-right: 0px;
}
/* end of main_visual */

/* start of programmes */
.programmes {
  background-color: #dddddd;
  padding: 15px 0px 60px 0px;
}
.programmes .container {
  text-align: center;
  max-width: 1200px;
}
.programmes h3 {
  font-size: 30px;
  font-family: 'PT Serif', Serif;
  text-align: center;
}
/* start of ug */
.ug_img img {
  background-repeat: no-repeat;
  width: 80%;
  position: relative;
  top: 25px;
}
.ug_content {
  background-color: #fff;
  padding: 10px 0px 10px 0px;
}
.ug_content h4 {
  color: #0b3574;
  font-size: 16px;
  font-family: 'PT Serif', Serif;
  padding-top: 30px;
  word-spacing: 3px;
}
.ug_content p {
  font-size: 12px;
  font-family: 'lato', sans-serif;
  color: #373535;
  padding: 14px;
  word-spacing: 3px;
}
.ug_content a {
  background-color: #f6bb4a;
  color: #fff;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  margin-bottom: 10px;
}
.ug_content a:hover {
  background-color: #0b3574;
  color: #f6bb4a;
}
/* end of ug */

/* start of pg */
.pg {
  padding-top: 20px;
}
.pg_img img {
  background-repeat: no-repeat;
  width: 80%;
  position: relative;
  top: 25px;
}
.pg_content {
  background-color: #fff;
  padding: 10px 0px 10px 0px;
}
.pg_content h4 {
  color: #0b3574;
  font-size: 16px;
  font-family: 'PT Serif', Serif;
  padding-top: 30px;
  word-spacing: 3px;
}
.pg_content p {
  font-size: 12px;
  font-family: 'lato', sans-serif;
  color: #373535;
  padding: 14px;
  word-spacing: 3px;
}
.pg_content a {
  background-color: #f6bb4a;
  color: #fff;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  margin-bottom: 10px;
}
.pg_content a:hover {
  background-color: #0b3574;
  color: #f6bb4a;
}
/* end of pg */
/* end of programmes */

/* start of research */
.researches {
  background-color: #eeeeee;
  padding: 10px 0px 70px 0px;
}
.researches .container {
  text-align:center;
}
.researches h3 {
  font-size: 30px;
  font-family: 'PT Serif', Serif;
  text-align: center;
}
.researches .research {
  background-color: #fff;
  padding: 0px 0px 20px 0px;
  margin-top: 20px;
  width: 100%;
}
.researches .research .r_img {
  height: 200px;
  background-image: url('../images/research1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.researches .research:nth-child(2) .r_img {
  background-image: url('../images/research2.jpg');
}
.researches .research:nth-child(3) .r_img {
  background-image: url('../images/research3.jpg');
}
.researches .research a {
  color: #0b3574;
  font-size: 20px;
  font-family: 'PT Serif', Serif;
  word-spacing: 3px;
}
.researches .research a:hover {
  color: orange;
}
.researches .research p {
  font-size: 15px;
  font-family: 'lato', sans-serif;
  color: #373535;
  padding: 12px;
  word-spacing: 3px;
  border-bottom: 3px solid #f6bb4a;
  margin-bottom: 12px;
}
.research .r_content {
  padding-top: 10px;
}
/* end of research */

/* start of news */
.news {
  background-color: #dddddd;
  padding: 10px 0px 70px 0px;
}
.news .container {
  text-align: center;
}
.news h3 {
  font-size: 30px;
  font-family: 'PT Serif', Serif;
  text-align: center;
}
.news .new {
  background-color: #fff;
  padding: 0px 0px 25px 0px;
  margin-top: 20px;
  width: 100%;
}
.news .new .n_img {
  height: 200px;
  background-image: url('../images/news1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.news .new:nth-child(2) .n_img {
  background-image: url('../images/news2.jpg');
}
.news .new:nth-child(3) .n_img {
  background-image: url('../images/news3.jpg');
}
.new h4 {
  font-size: 20px;
  font-family: 'PT Serif', Serif;
  color: #0b3574;
  padding-top: 15px;
  word-spacing: 3px;
}
.new p {
  font-size: 15px;
  font-family: 'lato', sans-serif;
  color: #373535;
  padding: 25px;
  word-spacing: 3px;
}
.new a {
  background-color: #f6bb4a;
  color: #fff;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  margin-bottom: 10px;
}
.new a:hover {
  background-color: #0b3574;
  color: #f6bb4a;
}
/* end of news */

/* start of events */
.events {
  background-color: #eeeeee;
  padding: 10px 0px 70px 0px;
}
.events h3 {
  font-size: 30px;
  font-family: 'PT Serif', Serif;
  text-align: center;
}
.events .event {
  background-color: #fff;
  margin-top: 20px;
  width: 100%;
}
.events .event .e_img {
  height: 200px;
  background-image: url('../images/eve1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.events .event:nth-child(2) .e_img {
  background-image: url('../images/eve2.jpg');
}
.events .event:nth-child(3) .e_img {
  background-image: url('../images/eve3.jpg');
}
.event h4 {
  font-size: 20px;
  font-family: 'PT Serif', Serif;
  color: #0b3574;
  padding-top: 15px;
  text-align: center;
  word-spacing: 3px;
}
.event p {
  font-size: 15px;
  font-family: 'lato', sans-serif;
  color: #373535;
  padding: 20px 0px 19px 0px;
  text-align: center;
  word-spacing: 3px;
}
.event .dialog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event .time {
  font-size: 20px;
  font-family: 'PT Serif', Serif;
  color: #f6bb4a;
  padding-left: 15px;
  padding-top: 20px;
}
.event .date {
  background-color: #f6bb4a;
  color: #fff;
  font-family: 'PT Serif', Serif;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 15px;
}
.event .date:hover {
  background-color: #0b3574;
  color: #f6bb4a;
  text-decoration: underline;
}
/* end of events */

/* start of footer */
footer {
  text-align: center;
  color: #fff;
  background-color: #222222;
  background-position: center;
  padding: 0px 0px 10px 0px;
}
footer .logo img {
  width: 240px;
  padding: 15px;
}
footer hr {
  border-bottom-color: #fff;
  border-bottom-width: 3px;
}
footer h3 {
  font-size: 20px;
  font-family: 'lato', sans-serif;
  padding: 15px;
  letter-spacing: 2px;
  word-spacing: 3px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
footer p {
  font-size: 14px;
  font-family: 'PT Serif', Serif;
  padding-top: 40px;
  word-spacing: 3px;
}
/* end of footer */

@media only screen and (max-width:767px) {
  .pc {
    display: none;
  }
}
@media only screen and (min-width:768px) {
  .smart {
    display: none;
  }
  /* start of header divider */
  header .pc_container .top_head {
    background-color: #222222;
    color: #fff;
  }
  .top_nav li {
    float: left;
    margin-right: 18px;
    position: relative;
    padding: 15px 5px;
  }
  .top_nav li::after {
    content: "";
    position: absolute;
    top: 12px;
    border-right: solid 1px #fff;
    height: 30px;
    right: -10px;
  }
  .top_nav li:last-child {
    margin-right: 0px;
  }
  .top_nav li:last-child::after {
    border-right: none;
  }
  .top_nav a:hover {
    color: orange;
  }
  /* end of header divider */

  /* start of search */
  .top_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 110px;
  }
  header .pc .logo {
    width: 300px;
    display: block;
  }
  header .pc .logo img {
    width: 100%;
    display: block;
  }
  .search {
    position: relative;
  }
  input {
    padding: 5px 48px 5px 30px;
    width: 200px;
    border: 1px solid white;
  }
  .search button {
    background-color: #f6bb4a;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* end of search */

  /* start of navigation header */
  .pc_container .bottom_head {
    background-color: #fff;
    color: #0b3574;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    font-family: 'PT serif', serif;
    max-width: 1232px;
    margin-right: 0px;
    margin-left: 50px;
  }
  .bottom_head .left_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
  }
  .bottom_head .right_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left_nav li {
    padding: 20px;
  }
  .right_nav li {
    padding: 20px;
  }
  .bottom_head a {
    color: #0b3574;
    font-family: 'lato', sans-serif;
    font-size: 20px;
  }
  .bottom_head a:hover {
    color: orange;
  }
  /* start of navigation header */

  /* start of main visual */
  .main_visual {
    background-image: url(../images/mv_image.jpg);
    width: 100%;
    background-repeat: no-repeat;
    color: #fff;
    text-align: left;
    padding: 200px 0px;
    background-position: center;
    background-size: cover;
  }
  .main_visual {
    position: relative;
  }
  .dots {
    position: absolute;
    bottom: 10px;
    left: 10%;
  }
  h1 {
    letter-spacing: 5px;
    word-spacing: 3px;
  }
  /* end of main visual */

  /* start of programmes */
  .programmes h3 {
    font-size: 40px;
  }
  .programmes .ug {
    display: flex;
    margin-top: 20px;
  }
  .ug_img img {
    position: relative;
    top: 20px;
    left: 40px;
    width: 400px;
    height: 300px;
  }
  .ug_content {
    padding: 32px 30px;
  }
  .ug_content h4 {
    font-size: 25px;
  }
  .ug_content p {
    font-size: 20px;
    padding: 18px;
    word-spacing: 5px;
  }
  .ug_content a {
    font-size: 20px;
  }
  .programmes .pg {
    display: flex;
    margin-top: 20px;
  }
  .pg_img img {
    position: relative;
    top: 20px;
    left: 40px;
    width: 400px;
    height: 300px;
  }
  .pg_content {
    padding: 32px 30px;
  }
  .pg_content h4 {
    font-size: 25px;
  }
  .pg_content p {
    font-size: 20px;
    padding: 18px;
    word-spacing: 5px;
  }
  .pg_content a {
    font-size: 20px;
  }
  /* end of programmes */

  /* start of research */
  .researches h3 {
    font-size: 40px;
  }
  .researches .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .researches .research {
    width: 31%;
  }
  /* end of research */

  /* start of news */
  .news h3 {
    font-size: 40px;
  }
  .news .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .news .new {
    width: 31%;
  }
  /* end of news */

  /* start of events */
  .events h3 {
    font-size: 40px;
  }
  .events .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .events .event {
    width: 31%;
  }
  /* end of events */

  /* start of footer */
  footer .container h3 {
    font-size: medium;
    letter-spacing: normal;
    word-spacing: 3px;
  }
  .pc .footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 15px auto 15px;
  }
  .pc .footer_nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .logo img {
    width: 270px;
  }
  footer p {
    padding-top: 20px;
  }
  .footer_wrap a:hover {
    color: #f6bb4a;
  }
  /* end of footer */
}
